.h1{
    color:brown ;
    font:16px ;
}

.centerItem{
    text-align: center;
}

#img{
    text-align: right;
    margin-left: 75%;
    width: 200px;
    height: 200px;
}

#btn{
    text-align: right;
    margin-left:85%;
}